*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #E0F1E8;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

form {
  margin: 128px auto;
  width: 736px;
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  gap: 40px;

}

 h1 {
  width: 656px;
  font-family: Karla;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1px;
  text-align: left;
  color: #2A4144;
  margin-bottom: 32px;
}

.fields {
  width: 656px;
  display: flex;
  gap: 16px;

}

.fields input {
  border: 1px solid #86A2A5;
  padding: 12px 24px;
  border-radius: 8px;


}

.fields p {
  color: #2A4144;
}

.fi {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fiel {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

span {
  color: #0C7D69;
}

.border {
  width: 656px;
  border: 1px solid #86A2A5;
  padding: 12px 24px;
  border-radius: 8px;
  margin-bottom: 24px;
}

p {
  margin-bottom: 8px;
  color: #2A4144;
}

.sorgu {
  width: 656px;
  display: flex;
  gap: 16px;

}

.sorgu p {
  width: 320px;
  border: 1px solid #86A2A5;
  padding: 12px 24px;
  border-radius: 8px;
}

textarea {
  width: 656px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #86A2A5;
}

.check {
  margin-block: 40px;
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.check p {
  margin-bottom: 0px;
}

span {
  margin-left: 8px;
}

button {
  width: 656px;
  background-color: #0C7D69;
  border-radius: 8px;
  padding-block: 16px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

@media (width <=375px) {
  form {
    width: 343px;
    padding: 24px;
  }
  form h1 {
    width: 295px;
  }
  .fields {
    width: 295px;
    display: flex;
    flex-direction: column;
  }
  .fields input {
    width: 295px;
  }
  .border {
    width: 295px;
  }
  .sorgu {
    width: 295px;
    display: flex;
    flex-direction: column;
  }
  .sorgu p {
    width: 295px;
  }
  textarea {
    width: 295px;
  }
  .check  {
    width: 295px;
  }
  .check p {
    width: 232px;
  }
  button {
    width: 295px;
  }

}

